extends ../shared/template
block content
  h2 Home Page!

  button#red RED
  button#yellow YELLOW
  button#color COLOR
  input#color-value(type='color')

  button#fadeIn FADE IN
  button#fadeOut FADE Out
  input#fadeTime(type='number')

  #a A
  #b B
  #c C
  ul 
    li D
    li E
    li F
  .g G
  .h H
  .i I
  footer
    h3 heres an awesome footer!

block scripts
  script(src='/js/user/main.js')
  script(src='/js/user/alpha.js')
