.happy{
  color: pink;
  background-color: yellow;
  font-size: 50px;
}


.sad{
  color: blue;
  background-color: grey;
  font-size: 9px;
}

.evenBox{
  display: inline-block;
  border: 3px dashed orange;
  padding: 10px;
  margin: 5px;
  color: white;
  background-color: #85144B;
  border-radius: 25px;
  height: 25px;
  width: 25px;
  text-align: center;
}
.oddBox{
  display: inline-block;
  border: 3px solid black;
  padding: 10px;
  margin: 5px;
  color: white;
  background-color: #B10DC9;
  height: 25px;
  width: 50px;
  text-align: center;
}
